# Cleaning DataFrame

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Libraries</a></span></li><li><span><a href="#Explore-the-Dataframe" data-toc-modified-id="Explore-the-Dataframe-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Explore the Dataframe</a></span></li><li><span><a href="#Let's-get-to-work.-Start-cleaning." data-toc-modified-id="Let's-get-to-work.-Start-cleaning.-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Let's get to work. Start cleaning.</a></span><ul class="toc-item"><li><span><a href="#Null-Values" data-toc-modified-id="Null-Values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Null Values</a></span></li><li><span><a href="#Columns-duplicated" data-toc-modified-id="Columns-duplicated-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Columns duplicated</a></span></li><li><span><a href="#Irrelevant-columns" data-toc-modified-id="Irrelevant-columns-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Irrelevant columns</a></span></li><li><span><a href="#Duplicated-rows" data-toc-modified-id="Duplicated-rows-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Duplicated rows</a></span></li><li><span><a href="#Re-cheking-the-null-values" data-toc-modified-id="Re-cheking-the-null-values-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Re-cheking the null values</a></span></li><li><span><a href="#Setting-Index" data-toc-modified-id="Setting-Index-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Setting Index</a></span></li><li><span><a href="#Cleaning-column-&quot;years&quot;-(Regex)" data-toc-modified-id="Cleaning-column-&quot;years&quot;-(Regex)-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Cleaning column "years" (Regex)</a></span></li><li><span><a href="#Apply-&quot;Months&quot;" data-toc-modified-id="Apply-&quot;Months&quot;-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Apply "Months"</a></span></li></ul></li><li><span><a href="#Re-cheking" data-toc-modified-id="Re-cheking-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Re-cheking</a></span></li></ul></div>

## Import Libraries

In [37]:
import pandas as pd
import numpy as np
import re
from src.utils import clean_years, get_month

In [38]:
sharks = pd.read_csv("data/attacks.csv", encoding = "ISO-8859-1") # I call "sharks" to the DataFrame

In [39]:
sharks #check the DataFrame, at first glance we see many repeated values, duplicate columns, null values...

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Explore the Dataframe

First of all, I explore the dataframe. To do this:

In [40]:
sharks.shape #I check the shape...

(25723, 24)

In [41]:
sharks.size #...and the size

617352

In [42]:
sharks.dtypes # check the types of the DataFrame variables.

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [43]:
sharks.columns # and see the columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [44]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

## Let's get to work. Start cleaning.

In [45]:
sharks.columns = sharks.columns.str.rstrip().str.replace(" ", "_")
sharks.columns 
#when checking the columns, I see that their values have "typos" 
#in the names that can confuse and make mistakes 
#later, so we made some changes.

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time',
       'Species', 'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number.1', 'Case_Number.2', 'original_order', 'Unnamed:_22',
       'Unnamed:_23'],
      dtype='object')

### Null Values

In [46]:
sharks.isnull().sum().sort_values(ascending=False) #cheking number of null values on each column

Unnamed:_22               25722
Unnamed:_23               25721
Time                      22775
Species                   22259
Age                       22252
Sex                       19986
Activity                  19965
Location                  19961
Fatal_(Y/N)               19960
Area                      19876
Name                      19631
Country                   19471
Injury                    19449
Investigator_or_Source    19438
Type                      19425
Year                      19423
href_formula              19422
pdf                       19421
href                      19421
Case_Number.1             19421
Case_Number.2             19421
Date                      19421
original_order            19414
Case_Number               17021
dtype: int64

In [47]:
sharks.isnull().sum().apply(lambda x: x/sharks.shape[0]).sort_values(ascending=False) 
#calculate percentage, 
#with the .apply function we can apply the formula to the whole column 
#in order to apply the chosen function on each value of the column

Unnamed:_22               0.999961
Unnamed:_23               0.999922
Time                      0.885394
Species                   0.865335
Age                       0.865062
Sex                       0.776970
Activity                  0.776154
Location                  0.775998
Fatal_(Y/N)               0.775959
Area                      0.772694
Name                      0.763169
Country                   0.756949
Injury                    0.756094
Investigator_or_Source    0.755666
Type                      0.755161
Year                      0.755083
href_formula              0.755044
pdf                       0.755005
href                      0.755005
Case_Number.1             0.755005
Case_Number.2             0.755005
Date                      0.755005
original_order            0.754733
Case_Number               0.661704
dtype: float64

In [48]:
sharks.drop(["Unnamed:_22", "Unnamed:_23"], axis=1, inplace = True) 
#we eliminate the first two columns, 
#since they have practically all of their values null.

In [49]:
sharks_null = sharks.isnull().sum(axis=1).apply(lambda x: x/sharks.shape[1]).sort_values(ascending=False)
sharks_null #do the same with the rows

12861    1.0
14368    1.0
14382    1.0
14381    1.0
14380    1.0
        ...
1281     0.0
1283     0.0
4197     0.0
1285     0.0
0        0.0
Length: 25723, dtype: float64

In [50]:
sharks.drop(sharks_null[sharks_null == 1].index, inplace = True) #eliminate rows in which all of them values were void.

In [51]:
sharks.shape #check the DataFrame.

(8703, 22)

### Columns duplicated

In [52]:
sharks.columns 
#I see that there are 3 columns that have the same name, 
#followed by a number, I will check them to see if they have repeated values.

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal_(Y/N)', 'Time',
       'Species', 'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number.1', 'Case_Number.2', 'original_order'],
      dtype='object')

In [53]:
sharks[["Case_Number", "Case_Number.1", "Case_Number.2"]].sample(10) 
#In fact, all their values are the same, by performing
#.sample(10), on several occasions, we found this situation.

         Case_Number   Case_Number.1   Case_Number.2
6372               0             NaN             NaN
6191         ND-0136         ND-0136         ND-0136
7181               0             NaN             NaN
5661  1894.04.28.a.R  1894.04.28.a.R  1894.04.28.a.R
7805               0             NaN             NaN
1951      2001.05.00      2001.05.00      2001.05.00
3176      1976.08.24      1976.08.24      1976.08.24
3551      1966.09.18      1966.09.18      1966.09.18
7887               0             NaN             NaN
8583               0             NaN             NaN

In [54]:
sharks.drop(sharks[["Case_Number", "Case_Number.1", "Case_Number.2"]],axis=1, inplace=True)
#So, we eliminate the three columns, 
#as they do not seem to give us relevant information about what we are looking for either.

### Irrelevant columns

In [55]:
sharks.head() #check the DataFrame

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal_(Y/N),Time,Species,Investigator_or_Source,pdf,href_formula,href,original_order
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

In [56]:
sharks.drop(sharks[["href", "href_formula", "pdf", "Time", "Name", "Investigator_or_Source", "Sex", "Area", "Location", "Type", "Injury", "Species"]],axis=1, inplace=True)
#I see that there are columns with data that are not relevant 
#to the hypotheses I am working with, nor are they relevant for drawing conclusions...so, drop them.

In [57]:
sharks.columns #check columns

Index(['Date', 'Year', 'Country', 'Activity', 'Age', 'Fatal_(Y/N)',
       'original_order'],
      dtype='object')

### Duplicated rows

In [58]:
sharks.duplicated() #check for duplicate rows.

0        False
1        False
2        False
3        False
4        False
         ...
8698      True
8699      True
8700      True
8701      True
25722     True
Length: 8703, dtype: bool

In [59]:
sharks.drop_duplicates(inplace = True, keep = False) #remove them.

In [60]:
sharks.shape

(6309, 7)

### Re-cheking the null values

In [61]:
sharks_null = sharks.isnull().sum(axis=1).apply(lambda x: x/sharks.shape[1]).sort_values(ascending=False)
sharks_null
#we go back to check if there are still rows with very high null values

6308    0.857143
6304    0.857143
6302    0.857143
6303    0.857143
6307    0.857143
          ...
2817    0.000000
2811    0.000000
2810    0.000000
2807    0.000000
0       0.000000
Length: 6309, dtype: float64

In [62]:
sharks.drop(sharks_null[sharks_null > 0.9].index, inplace = True)
#we consider rows whose percentages of null values are above 90%.

In [63]:
sharks.shape

(6309, 7)

### Setting Index

In [64]:
sharks = sharks.set_index("original_order") 
sharks
#I set "original_order" as index to get an idea of the total number of attacks to date.

                       Date    Year    Country     Activity  Age Fatal_(Y/N)
original_order
6303.0          25-Jun-2018  2018.0        USA     Paddling   57           N
6302.0          18-Jun-2018  2018.0        USA     Standing   11           N
6301.0          09-Jun-2018  2018.0        USA      Surfing   48           N
6300.0          08-Jun-2018  2018.0  AUSTRALIA      Surfing  NaN           N
6299.0          04-Jun-2018  2018.0     MEXICO  Free diving  NaN           N
...                     ...     ...        ...          ...  ...         ...
6306.0                  NaN     NaN        NaN          NaN  NaN         NaN
6307.0                  NaN     NaN        NaN          NaN  NaN         NaN
6308.0                  NaN     NaN        NaN          NaN  NaN         NaN
6309.0                  NaN     NaN        NaN          NaN  NaN         NaN
6310.0                  NaN     NaN        NaN          NaN  NaN         NaN

[6309 rows x 6 columns]

### Cleaning column "years" (Regex)

I want to select specific years in the "Year" column, avoiding typing errors, periods instead of years, etc. 
To do this, I have defined a function in a file and imported it. 
This function receives a value, and by regex returns if that value is within the given pattern. In addition to converting 
the value into a string.

In [66]:
sharks["Year"] = sharks["Year"].apply(lambda x: clean_years(x)) #apply the function using the .apply method

In [67]:
sharks["Year"].value_counts() 
#"undefined" values are values that have entered the function and did not have a defined year.

2015         143
Undefined    137
2017         136
2016         130
2011         128
            ...
1788           1
1787           1
1786           1
1785           1
1792           1
Name: Year, Length: 246, dtype: int64

In [68]:
sharks = sharks.drop(sharks[sharks["Year"] == "Undefined"].index) #eliminate "undefined" values

In [69]:
sharks = sharks[sharks["Year"] >= 1998] 
#as in the hypotheses we are only going to work with data from the last 20 years, 
#I select the data from 2018 to 1998, and reduce the sample.

### Apply "Months"

In [72]:
sharks["Month"] = sharks["Date"].apply(lambda x: get_month(x))
#I want to know the months when shark attacks occur. 
#Therefore I apply the function "get_month" to the column "Date" so that it extracts the month from the date.

In [77]:
month = sharks["Month"].value_counts()

In [80]:
month = month[month > 100].index

In [82]:
sharks = sharks[sharks["Month"].isin(month)].copy() 
#By this means we select the twelve months of the year, eliminating undefined values.

In [87]:
sharks.head()

,Date,Year,Country,Activity,Age,Fatal_(Y/N),Month
original_order,,,,,,,
6303.0,25-Jun-2018,2018,USA,Paddling,57,N,Jun
6302.0,18-Jun-2018,2018,USA,Standing,11,N,Jun
6301.0,09-Jun-2018,2018,USA,Surfing,48,N,Jun
6300.0,08-Jun-2018,2018,AUSTRALIA,Surfing,NaN,N,Jun
6299.0,04-Jun-2018,2018,MEXICO,Free diving,NaN,N,Jun

In [89]:
sharks.drop(sharks[["Date"]], axis=1, inplace=True)#eliminate "Date" column.

## Re-cheking

In [90]:
sharks.head()

                Year    Country     Activity  Age Fatal_(Y/N) Month
original_order
6303.0          2018        USA     Paddling   57           N   Jun
6302.0          2018        USA     Standing   11           N   Jun
6301.0          2018        USA      Surfing   48           N   Jun
6300.0          2018  AUSTRALIA      Surfing  NaN           N   Jun
6299.0          2018     MEXICO  Free diving  NaN           N   Jun

In [91]:
sharks.tail()

                Year       Country      Activity  Age Fatal_(Y/N) Month
original_order
4102.0          1998     AUSTRALIA  Spearfishing   31         NaN   Jan
4100.0          1998       REUNION       Bathing  NaN           Y   Jan
4099.0          1998  SOUTH AFRICA       Surfing   21           N   Jan
4098.0          1998     AUSTRALIA       Surfing  NaN           N   Jan
4097.0          1998    MOZAMBIQUE       Surfing   23           N   Jan

In [92]:
sharks.shape

(2141, 6)

In [93]:
sharks.size

12846

In [94]:
sharks.columns

Index(['Year', 'Country', 'Activity', 'Age', 'Fatal_(Y/N)', 'Month'], dtype='object')

In [97]:
sharks.to_csv('sharks.csv') #save the DataFrame modified